img{ 
}
.test{
  background-color: #fffafa;
     font-size: 20;
     list-style-position: inside;
border-color: black;
border-radius: 10px; 

}
.centerlist{
  list-style-position: inside;
}
.coolcolor{
  color: cyan;
 }
.images {margin-left:25%;  ;
      }
}


